@model IEnumerable<DeviseAPI.Entity.InternetUser>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Familia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Imia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.eMail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pass)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Familia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Imia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.eMail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pass)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_InternetUser }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_InternetUser }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_InternetUser })
        </td>
    </tr>
}

</table>
